* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px; 
  /* font-family:'Mulish', sans-serif;
  font-family: 'Quicksand', sans-serif; */
  font-family: 'Assistant', sans-serif;

}

/* body{
  background-image: url(../img/background.jpg);
  background-size: cover;
} */

.hide {
  display: none !important;
}

img{
  max-width:100%;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
  margin-bottom:0.5rem;
  font-weight: 600;
}
h5, h6{
  text-align: left;
}

h1{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom:1em;
}
h2{
  text-align: center;
}

h3{
  font-size: 1.5rem;
}

.wrapper{
  margin:20px auto;
  max-width:1170px;;
}


/****** FORM **********/

 #formContainer{
    /* display:none; */
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding:20px;
    font-size: 1.2rem;
 }


  form{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    gap:10px;
    font-size: 1.2rem;
  }
 
form label{
  font-weight: 600;
}

form input, form select{
  font-family: inherit;
  font-size: 1rem;
  padding:3px 8px;
}
 
form div{
  display:grid;
  grid-template-columns: 1fr 2fr 2fr;
  column-gap: 10px;
}


 
 /* Button */
 .formButton{
  margin-top:10px;
  padding: 0.4em 1.8em;
  border: none;
  outline: none;
  color: black;
  background: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
 }
 
 .formButton:before {
   content: "";
   background: linear-gradient(
     45deg,
     #ff0000,
     #ff7300,
     #fffb00,
     #48ff00,
     #00ffd5,
     #002bff,
     #7a00ff,
     #ff00c8,
     #ff0000
   );
   position: absolute;
   top: -2px;
   left: -2px;
   background-size: 400%;
   z-index: -1;
   filter: blur(5px);
   -webkit-filter: blur(5px);
   width: calc(100% + 4px);
   height: calc(100% + 4px);
   animation: glowing-button-85 20s linear infinite;
   transition: opacity 0.3s ease-in-out;
   border-radius: 10px;
 }
 
 @keyframes glowing-button-85 {
   0% {
     background-position: 0 0;
   }
   50% {
     background-position: 400% 0;
   }
   100% {
     background-position: 0 0;
   }
 }
 
 .formButton:after {
   z-index: -1;
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background: #FFF;
   background: #e9f6f1;
   left: 0;
   top: 0;
   border-radius: 10px;
 }

 .formButton:hover:after {
   background: #d1f4e7; /* Behöver kanske en bättre färg */
 }

 











/********************* MEDIA QUERIES ********************/

/* @media only screen and (max-width: xpx){


} */