/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px; 
  font-family:;
}

img{
  max-width:100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 
}

h1{
  font-size: 1.8rem;
} */











/********************* MEDIA QUERIES ********************/

/* @media only screen and (max-width: xpx){


} */